body {
  font-family: "Estonia", cursive;
}
div {
  background-color: rgb(167, 237, 255);
  color: rgb(0, 0, 0);
}
#first {
  background-color: rgb(34, 129, 253);
}
#second {
  background-color: rgb(9, 250, 238);
}
p {
  font-size: 36px;
  font-weight: 700;
}

a {
  font-size: 36px;
  font-weight: 700;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
